extends layout

block content
  h1 A list of queries for the Chinook PostgreSql database
  ol
    li
      a(href="/genres") Get all genres
    li
      a(href="/mediatypes") Get all media types
    li
      a(href="/artists") Get all artists
    li
      a(href="/playlists") Get all playlists
    li
      a(href="/albums") Get all albums with artist
    li
      a(href="/invoices") Get all invoices with customer info
    li
      a(href="/invoices/32") Get single invoice by InvoiceId
    li
      a(href="/invoices/14/customer") **NOT WORKING** Get all invoices for single customer
    li
      a(href="/customers") Get all customers
    li
      a(href="/customers/14") Get single customer info by ID (CustomerId=14)
    li
      a(href="/customers/14/invoices") Get all invoices for single customer (CustomerID=14)
    li
      a(href="/employees") Get all employees
    li
      a(href="/playlist-tracks") Get all playlist tracks
    li
      a(href="/invoice-lines") Get all invoice lines
