doctype html
html(lang="en")
  head
    title Chinook API

  body
    h1 Welcome to a Chinook API
    p. This page includes links for different queries to
      the chinook database.

    block content
